# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/

# Django migrations
# */migrations/
# !*/migrations/__init__.py

# SQLite
*.sqlite3

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# PyCharm
.idea/

# Media/uploads
# media/
# uploads/

# Logs
*.log

# Secret files
.env
*.env

# Cache
*.cache
.cache/
