/* MAIN */
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.main p {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--cor-store);
}

.main h1,
.product h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: var(--cor-store);
    margin-bottom: 20px;
}

/* INTRO */

.intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.intro p {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--cor-store);
}