/* MAIN */
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-store);
}

.main h1,
.product h1 {
    color: var(--cor-store);
    margin-bottom: 20px;
}

/* INTRO */

.intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-store);
}

@media (max-width: 430px) {
    .main, .intro {
        grid-template-columns: 1fr;
    }

    .main img, .intro img {
        opacity: 0.9;
    }
}