{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ store.store }} | StoreLite{% endblock %}</title>
    <link rel="icon" href="{{ store.logo.url }}" type="image/svg+xml" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header class="header-bg">
      <div class="header container">
        <a href="{% url 'public:store_front' store.slug %}">
          <img src="{{ store.logo.url }}" alt="Logo da Loja" class="logo" />
        </a>
        <nav class="nav">
          <ul>
            <li>
              <a href="{% url 'public:store_products' store.slug %}"
                >Produtos</a
              >
            </li>

            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'public:user_profile' store.slug %}">
                <i class="bi bi-person-circle"></i>
              </a>
            </li>
            <li>
              <a href="{% url 'public:user_cart' store.slug %}">
                <i class="bi bi-bag-plus-fill"></i>
              </a>
            </li>
            <li>
              <form
                action="{% url 'public:user_logout' store_name=store.slug %}"
                method="post"
              >
                {% csrf_token %}
                <button type="submit">
                  <i class="bi bi-box-arrow-right"></i>
                </button>
              </form>
            </li>
            {% else %}
            <li>
              <a href="{% url 'public:client_login' store.slug %}">
                <i class="bi bi-person"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    {% block content %} {% endblock %}

    <footer class="footer-bg">
      <div class="footer container">
        <div>
          <img src="{{ store.logo.url }}" alt="Logo da Loja" class="logo" />
          <p>
            © 2025 - {{ store.store }} | StoreLite. Todos os direitos
            reservados.
          </p>
        </div>
        <ul>
          <li><h2>Contato</h2></li>
          <li>
            <a href="mailto:{{ store.email }}">
              <i class="bi bi-envelope-fill"></i>{{ store.email }}
            </a>
          </li>
          <li>
            <a href="tel:{{ store.telephone }}">
              <i class="bi bi-telephone-fill"></i>{{ store.telephone }}
            </a>
          </li>
          <li>
            <a href="https://wa.me/{{ store.whatsapp }}">
              <i class="bi bi-whatsapp"></i>{{ store.whatsapp }}
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
