{% extends 'base.html' %} {% block content %}
<section class="product cart container font-2">
  <h1 class="font-4">Meu Carrinho</h1>

  {% if cart_items %}
  <ul>
    {% for item in cart_items %}
    <li>
      <img src="{{ item.product.photo.url }}" alt="{{ item.product.name }}" />
      <h2>{{ item.product.name }}</h2>
      <div class="detail">
        <p><span>Quantidade:</span> {{ item.quantity }}</p>
        <p><span>Preço unitário: R$</span> {{ item.product.cost }}</p>
        <p><span>Subtotal: R$</span> {% widthratio item.product.cost 1 item.quantity %}</p>
      </div>
        <form
          action="{% url 'public:remove_from_cart' store.slug item.id %}"
          method="post"
          class="font-5">
          {% csrf_token %}
          <button type="submit" class="btn-remover"><i class="bi bi-x-square"></i></button>
        </form>
    </li>
    {% endfor %}
  </ul>

  <p class="font-3"><strong>Total:</strong> R$ {{ total|floatformat:2 }}</p>

  <div style="margin-top: 20px">
    <form onsubmit="mostrarMensagem(); return false;">
      <button type="submit" class="btn-finalizar"><i class="bi bi-bag-check"></i> Finalizar Compra</button>
    </form>
    <p id="mensagem" style="display: none;" class="mensage font-3">
      Este projeto é fictício e não contém a opção de realizar compras reais,
      pois foi desenvolvido com fins educacionais.
    </p>
  </div>

  <script>
    function mostrarMensagem() {
      const msg = document.getElementById("mensagem");
      msg.style.display = "block";
    }
  </script>

  {% else %}
  <p>Seu carrinho está vazio.</p>
  {% endif %}
</section>
{% endblock %}
