{% extends 'base.html' %} {% block content %}

<article>
  <div class="intro container">
    <img src="{{ store.draft.url }}" alt="Imagem de destaque" />
    <p class="font-3">{{ store.text }}</p>
  </div>
</article>

<section class="product-bg" id='product'>
  <div class="product container">

    <h1 class="font-4">Produtos</h1>

    {% comment %} Filtro {% endcomment %}
      <form method="get" class="filters font-5">

        <input type="text" name="search" placeholder="Buscar produto..." value="{{ request.GET.search }}">

        <div class="select">
          <label>
            Tamanho:
            <select name="size">
              <option value="">Todos</option>
              {% for s in sizes %}
              <option value="{{ s }}" {% if request.GET.size == s %}selected{% endif %}>{{ s }}</option>
              {% endfor %}
            </select>
          </label>

          <label>
            Número:
            <select name="number">
              <option value="">Todos</option>
              {% for s in numbers %}
              <option value="{{ s }}" {% if request.GET.number == s %}selected{% endif %}>{{ s }}</option>
              {% endfor %}
            </select>
          </label>

          <label>
            Preço mín.:
            <input type="number" step="0.01" name="min_price" value="{{ request.GET.min_price }}">
          </label>

          <label>
            Preço máx.:
            <input type="number" step="0.01" name="max_price" value="{{ request.GET.max_price }}">
          </label>

          <button type="submit">Filtrar</button>
        </div
      </form>

    {% comment %} Produtos lista {% endcomment %}
    <ul>
      {% for product in products %}
      <li>
        <img src="{{ product.photo.url }}" alt="{{ product.name }}" />
        <h2 class="font-5">{{ product.name }}</h2>
        <p class="font-2">{{ product.description }}</p>
        <div class="font-2 detail">
          <p><span>R$</span> {{ product.cost }}</p>
          <p><span>Estoque:</span> {{ product.stock }}</p>
          <p><span>Número:</span> {{ product.number|default_if_none:"" }}</p>
          <p><span>Tamanho:</span> {{ product.size|default_if_none:"" }}</p>
        </div>

        {% comment %} SE O ESTOQUE É 0 NÃO MOSTRA CARRINHO {% endcomment %}
        {% if product.stock > 0 %} {% if user.is_authenticated %}
        <a href="{% url 'public:add_to_cart' store.slug product.id %}"><i class="bi bi-bag-plus-fill"></i></a>
        {% else %}
        <a href="{% url 'public:client_login' store.slug %}"><i class="bi bi-bag-plus-fill"></i></a>
        {% endif %} {% endif %}
      </li>
      {% endfor %}
    </ul>

  </div>
</section>

{% endblock %}
