{% extends "base.html" %}{% block content %}

<div class="register container">
  <div>
    <div class="welcome">
      <h2>Seja bem-vindo!</h2>
      <p>Já possui usuário?
        <a href="{% url 'public:client_login' store.slug %}">
          Login <i class="bi bi-arrow-up-right-square"></i>
        </a>
      </p>
    </div>

    <form method="post" novalidate>
      <h1 class="font-4">Cadastro</h1>
      
      <div class="register-item">
        
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="form-errors">
            {% for error in form.non_field_errors %}
              <p class="error">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              {% for error in field.errors %}
                <p class="error">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>


      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>

{% endblock %}