:root {
    --cor-bg: #f7f7f7;
    --cor-txt: #141414;

    --cor-nav: #f0f0f0;
    --cor-nav-hover: #f9f9f9;

    --cor-store: #3d3d3d;
    --cor-detail: #0B2545;
    --cor-detail-hover: #1c3f6a;
    --cor-detail-txt: #f7f7f7;

    --cor-footer: #dfdfdf;
}