/* ESTILO GERAL DO FOOTER - GENERAL FOOTER STYLE */

.footer-bg {
    background: var(--cor-detail);
    color: var(--cor-detail-txt);
}

.footer a {
    color: var(--cor-footer);
    transition: .3s;
}

.footer a:hover {
    color: var(--cor-detail-txt);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    padding: 40px;
    gap: 20px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer ul i {
    margin-right: 10px;
}

.footer p {
    text-align: center;
    grid-column: 1/-1;
    margin-top: 20px;
}

.footer img {
    max-width: 120px;
    justify-self: center;
    align-self: center;
}

@media (max-width: 430px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .footer img {
        max-width: 80px;
        margin-top: 20px;
        justify-self: start;
    }

    .footer p {
        margin-top: 0px;
        text-align: left;
    }
}